In [1]:
import numpy as np
import pandas as pd

# Identify:

Please fill-in your ID in the following cell, **only id numbers, no names!**

In [2]:
id1 = "323050948"
id2 = "208006981"

Uncomment in case two students are doing the assignment together:

In [3]:
df = pd.DataFrame([id1,id2])

In [4]:
df.to_clipboard(index=False,header=False)

Please fill your names here:

Yael wechsler,Dana lehr

# Q1

In [5]:
url = "C:/Users/eli/Downloads/bird strikes.csv"
brd1_df = pd.read_csv(url)

In [6]:
brd1_df.iloc[10:15 ,[1,3]]

    month visibility
10      4      NIGHT
11      4        DAY
12      4      NIGHT
13      5        DAY
14      5        DAY

# Q2

In [7]:
air1 = "https://raw.githubusercontent.com/nlihin/data-analytics/main/datasets/aircraft%20wildlife%20strikes.csv"
air_df = pd.read_csv(air1)

C:\Users\eli\AppData\Local\Temp\ipykernel_23944\4134397344.py:2: DtypeWarning: Columns (6,12,14) have mixed types. Specify dtype option on import or set low_memory=False.
  air_df = pd.read_csv(air1)

In [8]:
air_df.loc[[10,11,25],['Species Name', 'Flight Phase', 'Aircraft']]

           Species Name Flight Phase Aircraft
10   UNKNOWN SMALL BIRD        CLIMB    MD-88
11  UNKNOWN MEDIUM BIRD  TAKEOFF RUN    MD-80
25        HOUSE SPARROW  TAKEOFF RUN    C-21A

# Q3

In [9]:
len(air_df['Aircraft'].unique())

559

# Q4

In [10]:
A_320= air_df[air_df.loc[:,"Aircraft"] == "A-320"]

In [11]:
avg=A_320[["Height"]].describe()

In [12]:
avg.iloc[[1,5]]

        Height
mean  874.8202
50%    50.0000

we can see that most of the planes flew at a low high, about 50000 meters and some planes flew at a very high altitude, so the average is much above the median

# Q5

In [13]:
evevnts = air_df.value_counts("Incident Year")
evevnts.iloc[0:5]

Incident Year
2014    13976
2013    11666
2012    11264
2011    10363
2015    10148
dtype: int64

# Q6

In [14]:
events1 = A_320.value_counts("Incident Year")

In [15]:
events1.iloc[0]-1

622

# Q7

In [16]:
Distance= air_df[air_df["Distance"]==23]
Distance[["Distance"]]

        Distance
5380        23.0
40162       23.0
42605       23.0
50944       23.0
58868       23.0
66237       23.0
69111       23.0
75858       23.0
107190      23.0
128155      23.0

In [17]:
Distance['Speed'].isnull().sum()

3

In [18]:
avg1=Distance.dropna(subset=['Speed'])
avg1['Speed'].mean()

224.28571428571428

In [19]:
from scipy import stats
stats.hmean(avg1.loc[:,'Speed'])

221.26658491891817